

#geoButton {
   // Align the button center
   display: flex;
   justify-content: center;
   align-items: center;
}

ion-content {
  height: 100%;
}

.marker {
  font-size: 40px;
}

#map {
  height: 80%;
  width: 100%;
  display: block;
}
