<ion-header>
  <ion-toolbar>
    <ion-title> Create a trip </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon [icon]="logOutIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-explore-container name="Tab 1 page"></app-explore-container>

  <div class="welcome-text">
    <h1>Welcome to the Travel Interview App!</h1>
    <p>Start planning your next adventure with us.</p>
  </div>




  <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top"> -->
      <!-- Add Place Button -->
      <!-- <ion-fab-button href="/add-place">
        <ion-icon name="pin-outline"></ion-icon>
      </ion-fab-button> -->

      <!-- Add Trip Button -->
      <!-- <ion-fab-button href="/add-trip">
        <ion-icon name="airplane-outline"></ion-icon>
      </ion-fab-button> -->

      <!-- Edit Trips/Places Button -->
      <!-- <ion-fab-button href="/edit-trips-places">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
</ion-content>
