<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon [icon]="logOutIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <app-explore-container name="Tab 1 page"></app-explore-container>

  <div class="ion-text-center">
    <img src="assets/icon/favicon.png" />
    <h1>Welcome to the Travel Interview app</h1>
  </div>
  <div class="ion-text-justify">
    <p>
      Travel Interview is a mobile application that allows you to create trips
      and places. You can also edit them and delete them.
    </p>
  </div>

  <h2>My last trips</h2>
  <ion-list [inset]="true">
    <ion-item *ngFor="let trip of trips">
      <ion-label>
        <h2>{{ trip.title }}</h2>
        <p>{{ trip.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
