<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon [icon]="logOutIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Home </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <h1>Welcome to Travel log app !</h1>
    <p>
      Create by the Travel-Interview group, composed of Omar Gonin, Andrea
      Ferrer, Lionel Sandoz and Léo Chollet
    </p>
    <ul>
      <li>
        You can view all the places visted via the
        <a href="/tabs/tab2">map</a> or you can view a
        <a href="/places">list</a>
      </li>
      <li>
        You can create, edit and delete trips via the
        <a href="/tabs/tab3">trips</a> page (also available on the bottom right
        tab)
      </li>
    </ul>
  </div>

  <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top"> -->
  <!-- Add Place Button -->
  <!-- <ion-fab-button href="/add-place">
        <ion-icon name="pin-outline"></ion-icon>
      </ion-fab-button> -->

  <!-- Add Trip Button -->
  <!-- <ion-fab-button href="/add-trip">
        <ion-icon name="airplane-outline"></ion-icon>
      </ion-fab-button> -->

  <!-- Edit Trips/Places Button -->
  <!-- <ion-fab-button href="/edit-trips-places">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
</ion-content>
