<ion-content [fullscreen]="true">
  <!-- Iterate over each trip in the 'trips' array -->
  <ion-item-sliding *ngFor="let trip of trips">
    <!-- Card content -->
    <ion-card>
      <!-- Trash icon on the top right corner -->
      <ion-icon
        name="trash-outline"
        (click)="deleteTrip(trip)"
        color="danger"
        size="large"
      ></ion-icon>

      <ion-icon
        name="create-outline"
        (click)="editTrip(trip)"
        color="primary"
        size="large"
        style="position: absolute; top: 8px; right: 8px"
      >
        *ngIf="!editingTripId"></ion-icon
      >

      <ion-grid *ngIf="editingTripId === trip.id; else displayMode">
        <ion-row>
          <ion-col>
            <ion-card-header>
              <ion-card-title>
                <ion-input
                  [(ngModel)]="trip.title"
                  placeholder="Title"
                ></ion-input>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-input
                  [(ngModel)]="trip.description"
                  placeholder="Description"
                ></ion-input>
              </ion-card-subtitle>
            </ion-card-header>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card-content>
              <ion-button (click)="saveChanges(trip)">Save Changes</ion-button>
              <ion-button (click)="cancelEdit()">Cancel</ion-button>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ng-template #displayMode>
        <ion-row>
          <ion-col>
            <ion-card-header>
              <ion-card-title>{{ trip.title }}</ion-card-title>
              <ion-card-subtitle>{{ trip.description }}</ion-card-subtitle>
            </ion-card-header>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card-content
              >Nombre de lieu visité : {{ trip.placesCount }}</ion-card-content
            >
            <ion-card-content
              >Date du voyage : {{ trip.createdAt }}</ion-card-content
            >
            <ion-card-content
              >Voyage de l'utilisateur : {{ trip.userId }}</ion-card-content
            >
          </ion-col>
        </ion-row>
        <ion-button
          expand="block"
          (click)="openAddPlaceModal(trip.title, trip.id)"
          >Ajouter des places</ion-button
        >
      </ng-template>
    </ion-card>

    <!-- Sliding options -->
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="deleteTrip(trip)"
        >Delete</ion-item-option
      >
    </ion-item-options>
  </ion-item-sliding>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="navigateToAddPlace()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
