<ion-content [fullscreen]="true">
  <!-- <ion-button expand="full" size="large" (click)="postTrip()">Create Trip</ion-button> -->

  <!-- Iterate over each trip in the 'trips' array -->
  <ion-item-sliding *ngFor="let trip of trips">
    <!-- Card content -->
    <ion-card>
      <!-- Trash icon on the top right corner -->
      <ion-icon
        name="trash-outline"
        (click)="deleteTrip(trip)"
        color="danger"
        size="large"
      ></ion-icon>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-header>
              <ion-card-title>{{ trip.title }}</ion-card-title>
              <ion-card-subtitle>{{ trip.description }}</ion-card-subtitle>
            </ion-card-header>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card-content
              >Nombre de lieu visité : {{ trip.placesCount }}</ion-card-content
            >
            <ion-card-content
              >Date du voyage : {{ trip.createdAt }}</ion-card-content
            >
            <ion-card-content
              >Voyage de l'utilisateur : {{ trip.userId }}</ion-card-content
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <!-- Sliding options -->
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="deleteTrip(trip)"
        >Delete</ion-item-option
      >
    </ion-item-options>
  </ion-item-sliding>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="navigateToAddPlace()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
