<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>add-place</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #placeForm="ngForm" (ngSubmit)="onCreatePlace(placeForm)">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="name" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea name="description" ngModel required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Location (GeoJsonPoint)</ion-label>
      <ion-input type="text" name="location" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Trip Href (optional)</ion-label>
      <ion-input type="text" name="tripHref" ngModel></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Picture URL (optional)</ion-label>
      <ion-input type="text" name="pictureUrl" ngModel></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full">Create Place</ion-button>
  </form>

  
  <ion-alert
    #presentAlert
    header="Error"
    message="Please fill in all required fields correctly."
    [buttons]="'OK'"
  ></ion-alert>
</ion-content>
